<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Автомастерская{% endblock %}</title>
   
</head>
<body>

<header>
    <h1>Автомастерская</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'services' %}">Услуги</a></li>
            <li><a href="{% url 'manage_masters' %}">О нас</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Автомастерская. Все права защищены.</p>
</footer>

</body>
</html>
